

<form class="center-align" action="/admin/foods/<%= @food.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <input type="text" class="center-align" name="menu_item[name]" value="<%= @food.name %>" placeholder="Item Name?">
  <input type="text" class="center-align" name="menu_item[description]" value="<%= @food.description %>" placeholder="Description?">
  <input type="text" class="center-align" name="menu_item[cost]" value="<%= @food.cost.round(2) %>" placeholder="Cost">
  <input type="submit" value="Save Changes">
</form>


<form class="" action="/admin/foods/<%= @food.id %>" method="post">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" name="name" value="Delete">
</form>
