<h3>Edit Menu Item</h3>

<div class="row">
    <form action="/admin/foods/<%= @food.id %>" method="post">
      <input type="hidden" name="_method" value="put">
      <input class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 center-align" type="text" class="center-align" name="menu_item[name]" value="<%= @food.name %>" placeholder="Item Name?">
      <input class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 center-align" type="text" class="center-align" name="menu_item[description]" value="<%= @food.description %>" placeholder="Description?">
      <input class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 center-align" type="text" class="center-align" name="menu_item[cost]" value="<%= @food.cost.round(2) %>" placeholder="Cost">
      <input class="col s6 offset-s3 m4 offset-m4 l4 offset-l4 center-align" type="submit" value="Save Changes">
    </form>
</div>


<div class="row">
  <form class="" action="/admin/foods/<%= @food.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="col s6 offset-s3 m4 offset-m4 l4 offset-l4 center-align" type="submit" name="name" value="Delete">
  </form>
</div>
