<h3>Edit Party #<%= @party.id %></h3>

<div class="row">
<form class="" action="/<%= @party.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <select class="col s10 offset-s1 m4 offset-m4" name="party[server_id]">
    <option value="" disabled selection>Server?</option>
    <% @servers.each do |server| %>
      <% if server.id === @party.server.id %>
        <option value="<%= server.id %>" selected="selected"><%= server.name %></option>
      <% else %>
        <option value="<%= server.id %>"><%= server.name %></option>
      <% end %>
    <% end %>
  </select>
  <select class="col s10 offset-s1 m4 offset-m4" name="party[table_id]">
    <option value="" disabled selection>Table Number?</option>
    <% tables = [1, 2, 3, 4, 5, 6, 7, 8, 9] %>
    <% tables.each do |table| %>
      <% if @party.table_id == table %>
        <option value="<%= table %>" selected="selected">Table #<%= table %></option>
      <% else %>
        <option value="<%= table %>">Table #<%= table %></option>
      <% end %>
    <% end %>
  </select>
  <select class="col s10 offset-s1 m4 offset-m4" name="party[num_of_customers]">
    <option value="" disabled selection>Number of Customers?</option>
    <% customers = [1, 2, 3, 4, 5, 6, 7, 8, 9] %>
    <% customers.each do |ppl| %>
      <% if @party.num_of_customers === ppl %>
        <option value="<%= ppl %>" selected="selected"><%= ppl %> Customers</option>
      <% else %>
        <option value="<%= ppl %>"><%= ppl %> Customers</option>
      <% end %>
    <% end %>
  </select>
</div>
<div class="row">
  <input class="col s10 offset-s1 m4 offset-m4" type="type" name="party[tab]" value="Current Tab: $<%= sprintf("%.2f", @party.tab) %>" readonly>
  <input type="hidden" name="party[tab]" value="<%= @party.tab %>" readonly>

  <% if @party.has_paid %>
    <% @paid = "Not Paid" %>
  <% else %>
    <% @paid = "Paid" %>
  <% end %>

  <input class="col s10 offset-s1 m4 offset-m4" type="type" name="party[has_paid]" value="<%= @paid %>" readonly>
  <input type="hidden" name="party[has_paid]" value="<%= @party.has_paid %>" readonly>

  <br /><br /><br />
  <input class="col s8 offset-s2 m2 offset-m3 l2 offset-l3" type="submit" value="Save Changes">

</form>
  <form class="" action="/<%= @party.id %>" method="post">
    <input type="hidden" name="_method" value="delete">
    <input class="col s8 offset-s2 m2 offset-m2 l2 offset-l2" type="submit" value="Delete">
  </form>
</div>
