<h3>Party #<%= @party.id %></h3>
<h5>Server: <%= @party.server.name %></h5>


<div class="row">
    <form class="" action="receipts/<%= @party.id %>" method="get">
      <input class="col s8 offset-s2 m4 offset-m4" type="submit" value="Receipt">
    </form>
</div>
<div class="row">
  <form class="" action="/orders/<%= @party.id %>/new" method="get">
    <input class="col s4 offset-s1 m4 offset-m1 l4 offset-l1 truncate" type="submit" value="New Order">
  </form>
  <form class="" action="/" method="get">
    <input class="col s4 offset-s2 m4 offset-m2 l4 offset-l2 truncate" type="submit" value="Back to Parties">
  </form>
</div>
<div class="row">
  <form class="" action="/orders/<%= @party.id %>" method="get">
    <input class="col s4 offset-s1 m4 offset-m1 l4 offset-l1 truncate" type="submit" value="Edit Orders">
  </form>
  <form class="" action="/<%= @party.id %>/edit" method="get">
    <input class="col s4 offset-s2 m4 offset-m2 l4 offset-l2 truncate" type="submit" value="Edit Party">
  </form>
</div>
<div class="row">
  <div class="col s10 offset-s1 m6 offset-m3 l6 offset-l3">
    <div class="divider"></div>
    <br />
    <% @party.orders.each do |order| %>
      <div class="row">
        <div class="left">
          <%= order.food.name %>
          <% unless order.notes == "" %>
           <span>- <%= order.notes %></span>
          <% end %>
        </div>
        <div class="right">
          <%= sprintf("%.2f", order.food.cost) %>
        </div>
      </div>
    <% end %>
    <br />
    <div class="divider"></div>
    <br />
    <div class="row">
      <div class="left">
        Total
      </div>
      <div class="right">
        $<%= sprintf("%.2f", @party.tab) %>
      </div>
    </div>
  </div>
</div>
