<!-- <script src="/js/formCheckers.js" charset="utf-8"></script> -->

<h3>New Order</h3>


<style media="screen">
  button {
    -webkit-appearance: none;
    -webkit-border-radius:0;
    border-radius:0;
  }
</style>

<div class="row">
  <form class="" action="/<%= @party.id %>" method="get">
    <input class="col s8 offset-s2 m4 offset-m4 l4 offset-l4" type="submit" value="Back to Party Summary">
  </form>
</div>

<!-- <div class="row"> -->
  <% @categories.each do |category| %>
    <% counter = 0 %>
    <h4><%= category.name %></h4>
    <div class="row">
      <% rowCounter = 0 %>
      <% category.foods.each do |food| %>
        <form class="" action="/orders/<%= @party.id %>" method="post">
          <input type="hidden" name="order[party_id]" value="<%= @party.id %>">
          <input type="hidden" name="order[food_id]" value="<%= food.id %>">
          <input type="hidden" name="order[total_cost]" value="<%= food.cost %>">

          <div class="col s8 offset-s2 m4 card-panel hoverable">
            <button class="" type="submit">
              <h5><%= food.name %></h5>
              <br />
              $<%= sprintf( "%.2f", food.cost) %>
            </button>
            <input type="text" name="order[notes]" value="" placeholder="Notes?">
          </div>
        </form>
        <% rowCounter += 4 %>
        <% if rowCounter % 12 == 0 %>
          </div><div class="row">
        <% end %>
      <% end %>
    </div>
  <% end %>

<!-- </div> -->
